@import "tailwindcss";

@theme {
  --color-pantau: #2e7d32;
  --color-sampah: #43a047;
  --color-sampah-light: #66bb6a;
  --color-dark-green: #1b5e20;
  --color-background: #f9faf9;
  
  --font-niramit: "Niramit", sans-serif;
}

@layer base {
  body {
    @apply font-niramit bg-[#f9faf9] text-[#333];
  }
  
  h1, h2, h3, h4, h5 {
    @apply text-[#1b5e20];
  }
}

@layer utilities {
  .pantau {
    @apply text-pantau;
  }
  
  .sampah {
    @apply text-sampah-light;
  }
}

:root {
  --pantau: #2e7d32;
  --sampah: #43a047;
}